# ----------------------------------
# App settings
# ----------------------------------
ENV=production
FLASK_DEBUG=0
FLASK_APP=wsgi:app

# ----------------------------------
# Database
# ----------------------------------
SQLALCHEMY_DATABASE_URI=sqlite:///app.db

# ----------------------------------
# Security
# ----------------------------------
SESSION_COOKIE_SECURE=0
SESSION_COOKIE_HTTPONLY=1
SESSION_COOKIE_SAMESITE=Lax

# ----------------------------------
# Optional app settings
# ----------------------------------
LOG_LEVEL=DEBUG

# ----------------------------------
# Key settings
# ----------------------------------
SECRET_KEY=dev-fallback-key

# ----------------------------------
# Upload directory  paths
# ----------------------------------
LEASES_DIR=/tmp/leases
FILE_REPOSITORY_DIR=/tmp/files
MAX_CONTENT_LENGTH=10M
MAX_LEASES_DIR_SIZE=10G
MAX_FILE_REP_DIR_SIZE=10G
