<!-- NAVBAR -->
<header>
    <a href="{{ url_for('main.homepage') }}" class="logo">LPM Tenants Union</a>

    <nav>
        <a href="{{ url_for('main.admin') }}" class="admin">Admin</a>
        <a href="{{ url_for('main.about') }}">About</a>
        <a href="{{ url_for('account.login') }}" id="loginTab">Login</a>
        <a href="{{ url_for('account.register') }}">Register</a>

        <div class="dropdown">
            <div class="dropdown-btn">Language</div>
            <div class="dropdown-menu">
                <a href="#" onclick="setLanguage('English')">English</a>
                <a href="#" onclick="setLanguage('Español')">Español</a>
                <a href="#" onclick="setLanguage('Soomaali')">Soomaali</a>
            </div>
        </div>
    </nav>
</header>