<!-- NAVBAR -->
<header>
    <a href="{{ url_for('homepage') }}" class="logo">LPM Tenants Association</a>

    <nav>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('login') }}" id="loginTab">Login</a>
        <a href="{{ url_for('register') }}">Register</a>

        <div class="dropdown">
            <div class="dropdown-btn">Language</div>
            <div class="dropdown-menu">
                <a href="#" onclick="setLanguage('English')">English</a>
                <a href="#" onclick="setLanguage('Español')">Español</a>
                <a href="#" onclick="setLanguage('Soomaali')">Soomaali</a>
            </div>
        </div>
    </nav>
</header>