{% extends "base.html" %}


{% block title %}
LPM Tenants Union
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/slideshow.css') }}">
{% endblock %}


{% block content %}

<main class="center-content">
    <div class="slideshow">

        <div class="slides-wrapper">
            <img src="{{ url_for('main.static', filename='images/lpm_crop.webp') }}" class="slide">
            <img src="{{ url_for('main.static', filename='images/skyline_crop.webp') }}" class="slide">
        </div>

        <!-- Arrows -->
        <button class="arrow left">&#10094;</button>
        <button class="arrow right">&#10095;</button>

        <!-- Dots -->
        <div class="dots"></div>

    </div>
</main>

<!-- JS files -->
<script type="module" src="{{ url_for('main.static', filename='js/slides.js') }}"></script>

{% endblock %}
