{% extends "base.html" %}


{% block title %}
Bylaws
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('about.static', filename='css/bylaws.css') }}">
{% endblock %}


{% block content %}

<main class="document">

    <h1>LPM Union Bylaws</h1>

    <h2>Mission Statement</h2>
        <p><em>
            The LPM Residents' Union is a tenants' association organized in accordance with Minnesota Statutes
            <a href="https://www.revisor.mn.gov/statutes/cite/504B.001">§ 504B.001</a> and
            <a href="https://www.revisor.mn.gov/statutes/cite/504B.001">§ 504B.212</a>. Its purpose is to unite
            tenants in collective action, promote community vibrancy, and advocate for transparent and accountable
            property management. The union is independently governed by participating LPM residents, for the
            benefit of all tenants, and operates in accordance with the terms outlined below.
        </em></p>


    <h2>Meetings</h2>
        <h3>Annual Meeting</h3>
            <ol>
                <li>An annual meeting for all tenants of the building will be organized once per calendar year</li>
                <li>
                    The purpose of the meeting is to:
                    <ol>
                        <li>Review the activities and financial standing of the union</li>
                        <li>Hold elections</li>
                        <li>Vote on proposed bylaw amendments or resolution</li>
                        <li>Provide space for community discussion and tenant input</li>
                    </ol>
                </li>
                <li>Notice of the Annual Meeting must be provided to all residents at least 30 days in advance,
                    and absentee ballots and/or remote participation options must be made available</li>
            </ol>

        <h3>Special Meetings</h3>
            <ol>
                <li>
                    Special meetings of the general membership may be called by:
                    <ol>
                        <li>A majority vote of the Tenants' Board</li>
                        <li>A written petition signed by at least 5% of [estimated] tenants</li>
                    </ol>
                </li>
                <li>Notice must be provided at least 5 days in advance, along with the purpose and agenda of the meeting.</li>
            </ol>

        <h3>Notice of Meetings</h3>
            <h4>Method of Notice</h4>
            <h4>Timing of Notice</h4>

        <h3>Tenants' Board Meetings</h3>

        <h3>Quorum for Annual and Special Meetings</h3>

        <h3>Rules of Order</h3>
            <h4>Meeting Procedure</h4>
            <h4>Discussion</h4>
            <h4>Motions and Voting</h4>
            <h4>Agenda and Timekeeping</h4>
            <h4>Flexibility</h4>


    <h2>Membership</h2>
        <h3>Eligibility</h3>
        <h3>Becoming a Member</h3>
        <h3>Dues</h3>
        <h3>Rights and Privileges</h3>
        <h3>Membership Record</h3>


    <h2>Tenants' Board</h2>
        <h3>Duties</h3>
        <h3>Composition of the Board</h3>
            <h4>Officer Roles</h4>
            <h4>At-Large Members</h4>
        <h3>Requirements and Expectations</h3>


    <h2>Committees</h2>
        <h4>Creation and Appointment</h4>
        <h4>Purpose and Scope</h4>
        <h4>Reporting and Oversight</h4>
        <h4>Officer Support Committees</h4>


    <h2>Elections</h2>
        <h3>Election of Tenants' Board Members</h3>
        <h3>Annual Elections</h3>
        <h3>Eligibility to Run and Vote</h3>
        <h3>Quorum for Elections</h3>
        <h3>Officer Vacancies and Removal</h3>
        <h3>In the Event of Fewer than 7 Candidates</h3>
        <h3>Transparency and Best Practices</h3>


    <h2>Amendments to the Bylaws</h2>
        


    <h2>Dissolution of Union</h2>
        <h3>Procedure for Dissolution</h3>
        <h3>Disposition of Funds</h3>
        <h3>Records and Materials</h3>
        <h3>Reactivation</h3>

</main>

{% endblock %}