{% extends "base.html" %}

{% block title %}
Admin
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/admin.css') }}">
{% endblock %}


{% block content %}

<main class="admin-main">
    <div class="admin-page">
        <div class="admin-panel">
            <div class="admin-column">
                <button class="admin-btn">View Property Map</button>
                <button class="admin-btn">Approve User Accounts</button>
            </div>

            <div class="admin-column">
                <button class="admin-btn">Data Visualizations</button>
                <a class="admin-btn" href="{{ url_for('admin.modify_calendar') }}">Modify Calendar</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}
