{% extends "base.html" %} {% block content %}

<main>
  <div class="content-box">
    <h2 class="page-title">Eviction Prevention</h2>

    <h3 class="subtitle">General Information</h3>

    <ul class="link-list">
      <li>
        <a
          href="https://www.hennepincounty.gov/services/assistance/housing/eviction-prevention"
          target="_blank"
          rel="noopener noreferrer"
          class="external-link"
        >
          Hennepin County Eviction Prevention
        </a>
      </li>
      <li>
        <a
          href="https://homelinemn.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="external-link"
        >
          HOME Line
        </a>
      </li>
      <h3 class="subtitle">Rental Assistance</h3>
      <li>
        <a
          href="https://renthelphennepin.hdsallita.com/I_Have_Past_Due_Rent#/"
          target="_blank"
          rel="noopener noreferrer"
          class="external-link"
        >
          Rent Help Hennepin - For Eviction Summons
        </a>
      </li>
      <li>
        <a
          href="https://isuroon.org/rental-counseling/"
          target="_blank"
          rel="noopener noreferrer"
          class="external-link"
        >
          Isuroon
        </a>
      </li>
      <h3 class="subtitle">Legal Resources</h3>
      <li>
        <a
          href="https://www.lawhelpmn.org/#main-container"
          target="_blank"
          rel="noopener noreferrer"
          class="external-link"
        >
          LawHelpMN
        </a>
      </li>
      <li>
        <a
          href="https://www.hennepincounty.gov/adult-representation-services"
          target="_blank"
          rel="noopener noreferrer"
          class="external-link"
        >
          Adult Representation Services (Hennepin County)
        </a>
      </li>
      <li>
        <a
          href="https://mylegalaid.org/how-we-help/housing/"
          target="_blank"
          rel="noopener noreferrer"
          class="external-link"
        >
          Mid-Minnesota Legal Aid
        </a>
      </li>
    </ul>
  </div>
</main>

{% endblock %}
