{% extends "base.html" %}
{% block title %}Account{% endblock %}

{% block content %}

<main class="account-main">
    <div class="account-box">

        <!-- LEFT SIDE FORM -->
        <div class="account-left">

            <!-- lease form -->
            {% include "components/_lease_form.html" %}

        </div>

        <!-- RIGHT SIDE BUTTONS -->
        <div class="account-right">
            <button class="account-btn">Download Current Lease</button>
            <a href="{{ url_for('register') }}" class="account-btn">Upload New Lease</a>
            <button class="account-btn">Upload Utilities</button>
            <a href="{{ url_for('logout') }}" class="account-btn">Sign Out</a>
        </div>

    </div>
</main>

{% endblock %}
