{% from "macros/form_fields.html" import form_group %}

<div class="register-form">
    <div class="register-fields">
        <div class="register-row">
            {{ form_group(form.apartment_info.unit_number, {"class": "form-control", "step": "1"}) }}
            {{ form_group(form.apartment_info.lease_start_date) }}
            {{ form_group(form.apartment_info.lease_end_date) }}
        </div>

        <div class="register-row">
            {{ form_group(form.apartment_info.base_monthly_rent) }}
            {{ form_group(form.apartment_info.monthly_rent_total) }}
            {{ form_group(form.apartment_info.num_occupants) }}
        </div>
    </div>
</div>
