{% from "macros/form_fields.html" import form_group %}

<div class="register-form">
    <div class="register-fields">
        <div class="register-row">
            {#
            <input type="hidden"
                name="{{ form.register_info.upload_token.name }}"
                id="{{ form.register_info.upload_token.id }}">
            #}

            {{ form_group(form.register_info.username) }}
        </div>
        <div class="register-row password-row">
            {{ form_group(form.register_info.password) }}
            {{ form_group(form.register_info.confirmed_password) }}
        </div>
    </div>
</div>
