main {
    flex: 1;
    background-color: var(--background-color);
    padding: 24px 16px;
    display: flex;
    gap: 24px;
    color: var(--text-color-main);
}

@media (min-width: 768px) {
    main {
        padding: 30px 50px;
        gap: 40px;
    }
}

.center-content {
    justify-content: center;
    align-items: center;
}
