<div class="register-form">

    <div class="register-fields">
        <div class="register-row">

            <div class="register-group">
                <label>
                    {{ form.unit_number.label.text }}
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                {{ form.unit_number(class="form-control", step="1") }}
            </div>

            <div class="register-group">
                <label>
                    {{ form.lease_start_date.label.text }}
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                {{ form.lease_start_date(type="date") }}
            </div>

            <div class="register-group">
                <label>
                    Lease End Date
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                {{ form.lease_end_date(type="date") }}
            </div>

        </div>

        <div class="register-row">

            <div class="register-group">
                <label>
                    {{ form.base_monthly_rent.label.text }}
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                {{ form.base_monthly_rent() }}
            </div>

            <div class="register-group">
                <label>
                    {{ form.monthly_rent_total.label.text }}
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                {{ form.monthly_rent_total() }}
            </div>

            <div class="register-group">
                <label>
                    {{ form.num_occupants.label.text }}
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                {{ form.num_occupants() }}
            </div>
        </div>
    </div>
</div>