<div class="register-form">

    <div class="register-fields">
        <div class="register-row">

            <div class="register-group">
                <label>
                    Unit Number
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                <input id="unit_number" type="number" step="1">
            </div>

            <div class="register-group">
                <label>
                    Lease Start Date
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                <input id="lease_start_date" type="date">
            </div>

            <div class="register-group">
                <label>
                    Lease End Date
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                <input id="lease_end_date" type="date">
            </div>

        </div>

        <div class="register-row">

            <div class="register-group">
                <label>
                    Monthly Rate
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                <input id="base_monthly_rent" type="number" step="0.01" min="0.00">
            </div>

            <div class="register-group">
                <label>
                    Monthly Total
                    <span class="info-icon" data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span>
                </label>
                <input id="monthly_rent_total" type="number" step="0.01" min="0.00">
            </div>

            <div class="register-group">
                <label>
                    Number of Occupants
                    <span class="info-icon" data-tooltip="How many people live in the unit.">i</span>
                </label>
                <input id="lease_num_occupants" type="number" step="1" min="1" value="1" required>
            </div>
        </div>
    </div>
</div>