<div class="form-row">
    <div class="form-group">
        <label>Contact Name <span class="info-icon"
                data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span></label>
        <input id="emergency_contact_name" type="text" required>
    </div>

    <div class="form-group">
        <label>Phone Number <span class="info-icon"
                data-tooltip="Why we collect this: Lorem ipsum dolor sit amet.">i</span></label>
        <input id="emergency_contact_phone" type="tel" required>
    </div>
</div>
