<div>
    <!-- Personal Info -->
    <h2 class="register-title">Personal Info</h2>
    {% include "components/_personal_info_form.html" %}

    <br><br><br>

    <!-- Emergency Contact Info -->
    <h2 class="register-title">Emergency Contact</h2>
    {% include "components/_emergency_info_form.html" %}
</div>

<br><br><br>

<!-- Apartment Unit Info -->
<h2 class="register-title">Apartment Info</h2>
{% include "components/_apartment_info_form.html" %}

<script src="https://cdn.jsdelivr.net/npm/cleave.js@1/dist/cleave.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cleave.js@1/dist/addons/cleave-phone.us.js"></script>
<script>
    document.querySelectorAll('[data-phone]').forEach(el => {
        new Cleave(el, {
            phone: true,
            phoneRegionCode: 'US'
        });
    });
</script>