{% extends "base.html" %}


{% block title %}
Account
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('account.static', filename='css/account.css') }}">
{% endblock %}


{% block content %}

<main class="account-main">
    <div class="account-box">

        <!-- LEFT SIDE FORM -->
        <div class="account-left">
            <!-- Personal Info -->
            <h2 class="register-title">Personal Info</h2>
            {% include "account/forms/_personal_info_form.html" %}

            <br><br><br>

            <!-- Apartment Unit Info -->
            <h2 class="register-title">Apartment Info</h2>
            {% include "account/forms/_apartment_info_form.html" %}
        </div>

        <!-- RIGHT SIDE BUTTONS -->
        <div class="account-right">
            <button class="account-btn">Download Current Lease</button>
            <a href="{{ url_for('account.register') }}" class="account-btn">Upload New Lease</a>
            <button class="account-btn">Upload Utilities</button>
            <a href="{{ url_for('account.logout') }}" class="account-btn">Sign Out</a>
        </div>

    </div>
</main>

{% endblock %}
