{% extends "base.html" %}


{% block title %}
Login
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('account.static', filename='css/login.css') }}">
{% endblock %}


{% block content %}

<main class="login-main">
    <form class="login-box" method="post">
        {{ form.hidden_tag() }}
        <div class="form-field">
            <label>{{ form.username.label }} {{ form.username(size=32) }}</label>
        </div>
        <div class="form-field">
            <label>{{ form.password.label }} {{ form.password(size=32) }}</label>
        </div>
        <div class="form-field remember-field">
            <label>{{ form.remember.label }} {{ form.remember() }}</label>
        </div>
        <button class="login-btn" type="submit">Login</button>
    </form>
</main>

{% endblock %}
