{% extends "base.html" %}


{% block title %}
Register
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('account.static', filename='css/register.css') }}">
<link rel="stylesheet" href="{{ url_for('account.static', filename='css/tool_tip.css') }}">
<link rel="stylesheet" href="{{ url_for('account.static', filename='css/forms.css') }}">
{% endblock %}


{% block content %}

<main class="register-main">
    <div class="register-box">

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <button type="button" class="uploadLease-btn" id="uploadLeaseBtn">
                Upload Lease
            </button>
            <input type="file" id="leasePdfInput" name="pdf" accept="application/pdf" hidden>
            <span id="uploadSpinner" class="spinner hidden"></span>

            {% include "account/forms/_signup_form.html" %}

            <button class="submit-btn">Submit</button>
        </form>
    </div>
</main>

<!-- JS files -->
<script src="{{ url_for('account.static', filename='js/upload.js') }}"></script>

{% endblock %}
