<!DOCTYPE html>
<html lang="en">

<!-- Header metadata -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LPM Tenant's Association{% endblock %}</title>

    <!-- Main style file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Basic hardening metadata -->
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Frame-Options" content="DENY">
</head>

<body>
    <!-- Header -->
    {% include "layout/_header.html" %}

    <!-- Handle flashed messages -->
    {% include "components/_flash_messages.html" %}

    <!-- Main part of the page -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include "layout/_footer.html" %}

    <!-- JS files -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
