<!DOCTYPE html>
<html>
<head>
    <title>Submissions</title>
</head>
<body>
    <h1>Submissions</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for s in submissions %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.email }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Back to form</a>
</body>
</html>
