{% from "macros/form_fields.html" import form_group %}

<link rel="stylesheet" href="{{ url_for('main.static', filename='css/bug_report.css') }}">
<link rel="stylesheet" href="{{ url_for('account.static', filename='css/tool_tip.css') }}">
<link rel="stylesheet" href="{{ url_for('account.static', filename='css/register.css') }}">

<div class="bug-box">
    <form method="POST" action="{{ url_for('main.bug_report_modal') }}" class="bug-form">
        {{ form.hidden_tag() }}

        {{ form_group(form.name, tooltip_prefix='') }}
        {{ form_group(form.email, tooltip_prefix='') }}
        {{ form_group(form.description, tooltip_prefix='') }}

        <button type="submit" class="submit-btn">
            Submit Report
        </button>
    </form>
</div>
